{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}
    <div class="col-lg-4">
      <div class="panel-primary">
        <div class="panel-heading">Créateur du wall</div>
        <div class="panel-body">
          
        </div>
      </div>
    </div>
    <div class="col-lg-8" id="tweets">

    </div>
{% endblock %}

{% block javascript %}
  <script src="{{asset('js/wall/main.js')}}"></script>
{% endblock %}
